// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  display: flex;
}

li {
  list-style: none;
  padding : 30px;
  margin: 10px;
  background-color: #82ccdd;
  border: solid 3px;
  border-radius: 10px;
  font-weight: bold;
  color : white;
}
